.brand {
  position: absolute;
  top: 0;
  height: 10vh;
  left: 0;
  right: 0;
  z-index: 1020;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 8px 0 0 #f4f4f4;
}

.logo,
.toggle-button {
  height: 30px;
  margin-bottom: 3px;
}

.title h1 {
  font-family: "Roboto", sans-serif !important;
  font-size: 18px;
  font-weight: bold;
}
