.feed-container {
  overflow-y: auto !important;
  overflow-x: hidden;
  margin-top: 10vh;
  height: 90vh;
}

@media (min-width: 768px) {
  .feed-container {
    margin-top: 0;
    height: 100vh;
  }
}

.category-banner {
  background-color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  font-size: 19px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card-container {
  z-index: 30;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 16px;
  transition: all 1s;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.author {
  font-weight: 500;
}

.card-badge {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: -10px;
  right: 0;
  margin-right: -3px;
  width: 160px;
  color: #000;
  border-radius: 10px;
  font-size: 18px;
}

.liked {
  color: #ef5466;
}

.liked > i {
  animation: appear 0.5s ease;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  70% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.icon-hot {
  position: absolute;
  top: 50px;
  left: 3%;
  color: #f94540;
  font-size: 48px;
}

.comments-container {
  z-index: 20;
  animation: slide-down 0.5s ease;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.comment-author {
  font-size: 18px;
  font-weight: bold;
}

.comment-text {
  border-radius: 15px;
  background-color: #f4f4f4;
}

.comment-form {
  /* box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25); */
  background-color: #f2f3f5;
  border-radius: 35px;
}

.comment-input,
.comment-send-wrapper {
  border: none;
  background-color: #f2f3f5;
}

.comment-input {
  color: rgba(0, 0, 0, 0.8);
}

.comment-input:focus {
  outline: none;
}

.commend-send-icon {
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

.comment-send-wrapper {
  padding-top: 4px;
  transition: all 0.5s ease-out;
}

.comment-send-wrapper:hover {
  transform: translateY(-5px);
}
