.welcome-container {
  height: 100vh;
  background-color: #f9e3e3;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.welcome-h1 {
  color: rgba(0, 0, 0, 0.8);
  /* width: 90vw; */
  font-weight: 300;
  font-size: 32px;
}

.welcome-h2 {
  font-weight: 300;
  font-size: 24px;
  /* width: 95vw; */
}

@media (min-width: 768px) {
  .welcome-h1 {
    /* width: 60vw; */
    font-weight: 300;
    font-size: 60px;
  }

  .welcome-h2 {
    font-weight: 300;
    font-size: 32px;
    /* width: 80vw; */
  }
}

.welcome-button {
  transition: all 0.5s;
}

.welcome-button:hover {
  transform: scale(1.1);
}

.welcome-button:focus {
  outline: none;
}
