.navbar-panel {
  position: absolute;
  width: 325px;
  top: 10vh;
  left: 0;
  /* right: 0; */
  bottom: -5px;
  height: 91vh;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateX(-325px);
  transition: all 0.5s ease-out;
  z-index: 1000;
}

.toggle {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .navbar-panel {
    transform: translateX(0px) !important;
  }

  .toggle {
  }
}

.navbar-panel::-webkit-scrollbar {
  display: none;
}

.navbar-panel .divider {
  min-height: 1px;
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.category:hover {
  background-color: #f4f4f4 !important;
}

.navbar-panel .categories-list .category {
  margin-left: 10%;
  width: 80%;
  height: 55px;
  border-radius: 10px 0 0 10px;
  transition: all 0.3s;
  background-color: #fff;
}

.navbar-panel .categories-list .active > div {
  z-index: 100;
  background-color: #f4f4f4;
}

.navbar-panel .categories-list .category .category-title {
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.navbar-panel .categories-list .category .category-title .emoji {
  font-size: 19px;
}

.ask-feedback-container {
  transition: all 0.5s;
}

.ask-feedback-container:hover {
  transform: scale(1.05);
}

.navbar-panel .ask-feedback-container .feedback-proposal {
  background-color: #f4f4f4;
  font-size: 16px;
  font-weight: 500;
  width: 90%;
  margin: auto;
  border-radius: 15px;
}

.navbar-panel .ask-feedback-container .feedback-proposal .emoji {
  font-size: 19px;
}

.navbar-panel .online-counter-container {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
}

.navbar-panel .online-counter-container .icon {
  color: #43bf88;
}

.navbar-panel .about-container .about {
  width: 60%;
  font-size: 14px;
  font-weight: 300;
}
