.App {
  top: 0;
  text-align: center;
  background-color: #f4f4f4;
  width: 100vw;
}

.navigation {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .navigation {
    width: 325px;
  }

  .feed-wrapper {
    margin-left: 325px;
  }
}

.login-bg {
  z-index: 2000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.auth {
  background-color: rgb(71, 121, 251);
  border-radius: 25px;
}

.register > div,
.alert {
  animation: slide-up 0.75s;
}

.login input,
.register input {
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.login input:focus,
.register input:focus {
  outline: none;
}

.login input::placeholder,
.register input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.login button,
.register button {
  border: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}

.login label,
.register label {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.add-button {
  z-index: 1000;
  position: fixed;
  right: 5%;
  bottom: 5%;
  border-radius: 50%;
  background-color: #fff;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.add-button:hover {
  transform: translateY(-7px);
}

.add-button > i {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
}

.add-hub-form {
  background-color: #d4ccfc;
  border-radius: 25px;
  width: 325px;
}

@media (min-width: 768px) {
  .add-hub-form {
    width: 600px;
  }
}

.add-hub-category {
  border: none;
  /* background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8); */
  background-color: white;
  color: #0d243c;
}

.add-hub-text {
  padding: 20px;
  border: none;
  background-color: white;
  color: #0d243c;
  border-radius: 5px;
}

.add-hub-text:focus {
  outline: none;
}

.add-hub-submit {
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #0d243c;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.feedback-container {
  width: 90%;
  color: white;
  font: "Roboto", sans-serif !important;
}

@media (min-width: 768px) {
  .feedback-container {
    width: 450px;
    color: white;
  }
}

.feedback-textarea::placeholder {
  color: white;
}

.input-range__label--value,
.input-range__label--value > * {
  bottom: 10px;
}

.input-range__label,
.input-range__label > * {
  color: white !important;
  font-size: 18px !important;
  height: 20px !important;
  width: 20px !important;
}
